---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SoundCloud,%20Berlin&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Berlin",
                       "short_name" : "Berlin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Berlin",
                       "short_name" : "Berlin",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Germany",
                       "short_name" : "DE",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Berlin, Germany",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 52.6754542,
                          "lng" : 13.7611175
                       },
                       "southwest" : {
                          "lat" : 52.33962959999999,
                          "lng" : 13.0891554
                       }
                    },
                    "location" : {
                       "lat" : 52.52000659999999,
                       "lng" : 13.404954
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 52.6754542,
                          "lng" : 13.7611175
                       },
                       "southwest" : {
                          "lat" : 52.33962959999999,
                          "lng" : 13.0891554
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJAVkDPzdOqEcRcDteW0YgIQQ",
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Berlin",
                       "short_name" : "Berlin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Hartford County",
                       "short_name" : "Hartford County",
  [...]
[...]
- request:
    method: get
    uri: http://google.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - http://www.google.de/?gfe_rd=cr&ei=OR-bV-bIK6Wo8weVro2QAw
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"http://www.google.de/?gfe_rd=cr&amp;ei=OR-bV-bIK6Wo8weVro2QAw\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 29 Jul 2016 09:17:45 GMT
recorded_with: VCR 2.9.3
