<h1> Hey, that's nice that you want to create a sounddrop!</h1>

<h2> Please login with your SoundCloud account.</h2>


<li><%= link_to "Continue", :controller => :connect, :action => :login, :class => "btn btn-default"  %></li>
