body {
  background-color: #1A0923;
  color: white;
  font-family: "Helvetica Neue";
  padding-top: 50px;
}

#stories_chart {
  margin-right: 95px;
  margin-left: 95px;
  margin-top: 35px;
  /*padding-right: 15px;
  padding-left: 15px;*/

}

.sounddrop-image {
  height: 50px;
}

h1 {
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}

h2 {
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}

h4 {
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  font-size: 23px;
}

a {
  font-size: 18px;
  color: #f50;
}
 
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  font-size: 23px;
}

textarea {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  font-size: 23px;
/* font-family: inherit;
*/font-size: inherit;
  line-height: inherit;
  color: black;
  font-weight: 300;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: black;
  font-weight: 300;
}

#commentForm {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
.artwork {
  width: 100%; 
  height: 100%;
  position: relative;
}

.container-play-button {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  width:100%;
  position: relative; left:0; top:0;
  z-index:0;
}
.container-image {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  width:100%;
  position: relative; left:0; top:0;
  z-index:0;
}
.container-like-button{
  overflow: hidden;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.like{
  float: left;
  position: relative;
  margin-top: -19px;
}
.vote{
  font-size: 20px;
  float: left;
  position: relative;
  padding-right: 17px;
  padding-left: 17px;
  margin-left: -10px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.story-image {
	width: 100%;
}

.story-title {
  padding-left: 15px;
  color: #ff7400;
  font-size: 18px;
}

.story-place {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
	margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 100;
	font-style: italic;
  font-size: 25px;
  color: #999;
}

/*for the new player*/
.play-button{ 
  z-index: 2;
  width: 100%; 
  position: absolute;
  text-align: center;
  margin-top: -72px;
  top: 50%;
}
.rewind{ 
  z-index: 3;
  width: 43%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  text-align: center;
}
.forward{ 
  z-index: 3;
  width: 47%;
  position: absolute;
  top: 50%;
  left: 55%;
  margin-top: -30px;
  text-align: center;
}

.glyphicon{
  width: 140px; 
  height: -1px;

}
.glyphicon-play-circle{
  color: #ff7400;
  font-size: 140px;
  line-height: 1;
  border-radius: 4em;
}
.glyphicon-pause{
  color: #ff7400;
  font-size: 140px;
  line-height: 1;
  border-radius: 4em;
}
.glyphicon-refresh{
  color: #ff7400;
  font-size: 140px;
  line-height: 1;
  border-radius: 4em;
}

.glyphicon-forward{
  color: #ff7400;
  width: 100px;
  font-size: 74px;
  line-height: 1;
  border-radius: 4em;
}

.glyphicon-backward{
  color: #ff7400;
  width: 80px;
  font-size: 74px;
  line-height: 1;
  border-radius: 4em;
}

@media (max-width: 400px) {
  .glyphicon-play-circle,
  .glyphicon-pause,
  .glyphicon-refresh {
    font-size: 100px;
  }

  .glyphicon-forward,
  .glyphicon-backward {
    font-size: 40px;
  }
}

.story-place {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 100;
  font-style: italic;
  font-size: 25px;
  color: #999;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
  
@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),      url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}




