body {
  background-color: #1A0923;
  color: white;
  font-family: "Helvetica Neue";
}

#stories_chart {
  margin-right: 95px;
  margin-left: 95px;
  margin-top: 35px;
  /*padding-right: 15px;
  padding-left: 15px;*/

}
h1 {
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}

h4 {
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  font-size: 23px;
}

a {
  font-size: 18px;
  color: #f50;
}
 
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  font-size: 23px;
}

textarea {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  font-size: 23px;
/* font-family: inherit;
*/font-size: inherit;
  line-height: inherit;
  color: black;
  font-weight: 300;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: black;
  font-weight: 300;
}



#commentForm {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.list_comments {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}

.container-image {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
}
.container-like-button{
  overflow: hidden;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.like{
  float: left;
  position: relative;
  margin-top: -19px;
}
.vote{
  font-size: 20px;
  float: left;
  position: relative;
  padding-right: 17px;
  padding-left: 17px;
  margin-left: -10px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.story-image {
	width: 100%;
}

.story-title {
}

.story-place {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
	margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 100;
	font-style: italic;
  font-size: 25px;
  color: #999;
}




