<div class='comments'>
  <%= form_for :comment, :html => {:id => "commentForm"}, url: comments_path do |f| %><p>
  <%= f.label :text, "What do you think about this app?" %><br>
  <%= f.text_area :text, size: "70%", :id => "new_comment"%><p>
  <%= f.submit "Send Comment", :id =>"save_comment" %>
  <% end %>
</div>

<div id="hide_comments" class='list_comments'>
</div>
