<div class="rewind control-btn">
  <span class="glyphicon glyphicon-backward"></span>
</div>
<div class="play-button control-btn">
  <span class="glyphicon glyphicon-play-circle"></span>
</div>
<div class="forward control-btn">
  <span class="glyphicon glyphicon-forward"></span>
</div>
