<div class='container'>
  <div class='row'>
    <div class='col-xs-12 text-center welcome'>
      <h1>Hello, <%= current_user.username %>. Here you can create your own Sounddrop</h1>
    </div>
  </div>

  <%= render 'form' %>

</div>