
  <div class="container-fluid">
    <h4>Hear more drops:</h4>
      <% @playlist.tracks.each do |track| %>
        <% if track.id != @drop_at_sc.id %>
          <a href="/playlists/<%=@playlist.id%>/<%=track.id%>" data-no-turbolink><%= track.title %></a></br>
        <% end %>
      <% end %><br>
  </div>


