.welcome, .tracks {
  margin-bottom: 50px;
}

.choices label {
  color: #f50;
  font-size: 30px;
}

.title {
  margin-bottom: 30px;
}

.submit-button {
  margin: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px 40px;
  background-color: #f50;
  margin-top: 5%;
  color: white;
  font-size: 30px;
  margin-bottom: 5%;
  border-color: #f50;
  border-radius: 20px;
}

.glyphicon {
  width: 12px;
  color: #f50;
}

#map {
  height: 570px;
  width: 570px;
  float: right;
}