#request {
  width: 100%;
}

#links {
  background: gray;
  color: #333;
  min-height: 200px;
  padding: 20px;
  margin-top: 80px;
  width: 50%;
  position: absolute;
  left: 50px;
}

#explorer-response {
  background: #fff;
  color: #333;
  min-height: 200px;
  padding: 20px;
  margin-top: 80px;
  width: 50%;
  position: absolute;
  right: 50px;
}

.explorer-link {
  color : white;
  font-size: 16px;
}

#link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.endpoints {
  margin: 10px 0;
}
