---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SoundCloud,%20Berlin&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Berlin",
                       "short_name" : "Berlin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Berlin",
                       "short_name" : "Berlin",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Germany",
                       "short_name" : "DE",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Berlin, Germany",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 52.6754542,
                          "lng" : 13.7611176
                       },
                       "southwest" : {
                          "lat" : 52.33962959999999,
                          "lng" : 13.0891553
                       }
                    },
                    "location" : {
                       "lat" : 52.52000659999999,
                       "lng" : 13.404954
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 52.6754542,
                          "lng" : 13.7611176
                       },
                       "southwest" : {
                          "lat" : 52.33962959999999,
                          "lng" : 13.0891553
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJAVkDPzdOqEcRcDteW0YgIQQ",
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Berlin",
                       "short_name" : "Berlin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Hartford County",
                       "short_name" : "Hartford County",
  [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=soundcloud&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 07 Mar 2016 19:05:25 GMT
- request:
    method: get
    uri: http://127.0.0.1:53315/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '70332954378300'
  recorded_at: Mon, 07 Mar 2016 19:05:47 GMT
recorded_with: VCR 2.9.3
