  <h1>Hello, <%= @current_user.username %></h1>
  <p>
</br>
<h4>You have <%= @current_user.track_count %> tracks at SoundCloud:</h4>
<p>
</br>
  <table>
    <% @current_user_tracks.each do |track| %>
      <tr>
          <td><%= track.title %></h4>
          <td><a><%= track.uri %></a></td>     
      </tr>
    <% end %>
  </table>
<p>
</br>
<h4>To upload your SoundCloud track to SoundDrop, copy and paste the link bellow.</h4>
<p>
</br>


<input type="text" id="story_link"/>
<input type="button" value="Upload" id="upload_button"/>



  