  <h1>Hello, <%= @current_user.username %></h1>
  <p>
  <h1>You have <%= @current_user.track_count %> tracks at SC </h1>
<p>
<p>
<p>
<hr>
<hr>

CURRENT USER DATA
<p>
<%= @current_user %>
<hr>
<hr>

CURRENT USER TRACKS:
<p>
<%= @current_user_tracks.to_json %>
  