<body>
  <div class="container-fluid">
   
    <h1>SoundDrop -The History behind the App</h1>

    <p>SoundDrop was first created in 2014 by Brigitte, Caroline and Michelle, then interns at SoundCloud, with Duana Stanley as product manager. Initially, SoundDrop was based on QR codes. 'Drops' were located throughout the SoundCloud office in Berlin, where employees created personal stories attached to interesting objects and places.</p>

    <p>Over the summer 2015, the project was followed up by <i>Rails Girls Summer of Code</i> fellows Franzi and Nynne with coaching from Erik Michaels-Ober and mentoring from Duana Stanley and Tam Eastley. </p>

    <p>During the <i>Rails Girls Summer of Code</i> in 2016, Dayana Mick and Johanna Lang (aka Team "joda") contributed to the app, e.g. by building a JSON API and embedding a Google Map into the Welcome Page. The QR function is now obsolete and Drops can be found via a radius request. 
    All this would not have been possible without the support by the mentors Tam and Duana and all the helpful coaches at Absolventa GmbH. </p>


    <h4>SoundDrop is maintained by a small core group of diehard SoundDroppers :)</h4>

    <div>
      <ul>
        <li>Duana Stanley</li>
        <li>Tam Eastley</li>
        <li>Erik Michaels-Ober</li>
        <li>Brigitte</li>
        <li>Caroline</li>
        <li>Franzi</li>
        <li>Michelle</li>
        <li>Nynne</li>
        <li>Dayana</li>
        <li>Johanna</li>
        <li>Carsten</li>
      </ul>
    </div>

    <p>
      <div>A huge thanks goes out to everyone who has helped to make this project possible:</div>
      <div>Brian Egan, Chris Berghout, Dennis Cahillane, Ellen König, Hannes Tyden, Jan Kischkel,  Jano González, JP Bochi, Matthias Georgi, Sergio Gil, Tobi Biehlolawek, Tom Stuart and Willam Boxhall. 
      </div>
    </p>
  </div>
</body>
