<body>
    <div class="container-fluid">
    <h1>Welcome to SoundDrop!</h1>

    <p>SoundDrop lets you record stories or create playlists of your favourite songs and connect them to any place you wish via geolocation.</p>

    <p>With SoundDrop you can leave an audible mark anywhere and share it with friends. Wish to leave a playlist along your favourite bike route through town? Or create a guided tour for a museum exhibition? Want to tell a personal story about a famous landmark, or guide your friends to your favourite spots in a foreign city? SoundDrop let's you share the sound.</p>

   <!--  <p>Interested? Try our app. If you have any feedback just shoot us an email: <a href='mailto:sounddrop@googlegroups.com'>sounddrop@googlegroups.com</a> We'd be happy to hear from you :)</p>

    <p>Hope you enjoy!</p> -->


<%# This following section I suggest moving to a seperate page called "SoundDrop -the history behind the App" That would clean up and simplify the front page, without neglecting to mention everyone who worked ont he app.%>

<%# to do: ask Michelle, Brigitte and Caroline if they want us to use their full names on the site so they get credite. %>

    <h1>SoundDrop -The History behind the App</h1>

    <p>SoundDrop was first created in 2014 by Brigitte, Caroline and Michelle, then interns at SoundCloud, with Duana Stanley as product manager. Initially, SoundDrop was based on QR codes. 'Drops' were located throughout the SoundCloud office in Berlin, where employees created personal stories attached to interesting objects and places.</p>

    <p>Over the summer 2015, the project was followed up by Rails Girls Summer of Code fellows Franzi and Nynne with coaching from Erik Michaels-Ober and mentoring from Duana Stanley and Tam Eastley. SoundDrop is maintained by a small core group of diehard SoundDroppers :)</p>

    <p>Main Contributors:</p>

    <div>Duana Stanley, Erik Michaels-Ober, Tam Eastley</div>
    
    <div>Brigitte, Caroline, Franzi, Michelle, Nynne.</div>

    <p><div>A huge thanks goes out to everyone who has helped to make this project possible:</div>
      <ul>
        <li>Brian Egan</li>
        <li>Chris Berghout</li>
        <li>Dennis Cahillane</li>
        <li>Ellen König</li>
        <li>Hannes Tyden</li>
        <li>Jan Kischkel</li>
        <li>Jano González</li>
        <li>JP Bochi</li>
        <li>Matthias Georgi</li>
        <li>Sergio Gil</li>
        <li>Tobi Biehlolawek</li>
        <li>Tom Stuart</li>
        <li>Willam Boxhall</li>
      </ul>
      </p>
    </div>
</body>
