<body><h1>Welcome to SoundDrop!</h1>

<p>SoundDrop lets you record stories and connect them to a place where they belong - via QR code or geolocation.</p>

<p>Here at SoundCloud HQ you can find stories attached to interesting objects.</p>

<p>See a QR code somewhere in the office? <a href=/welcome/scan>Scan</a> it with your smartphone and BOOM! You are taken to the matching soundfile. Ever wondered about the story behind the coffee machine? Now you can listen to it! Great, don’t you think?</p>

<p>We are developing SoundDrop so that you can leave an audible mark yourself - anywhere. Be it that you wish to leave some kind of sound graffiti at the wall memorial. Or create an alternative museum tour? Tell a personal story about a famous landmark?</p> 

<div>Interested? Try our app. And please leave feedback, thanks!</div>
<p>Happy QR code hunting!</p>

<div>Your Rails Girls interns</div>
<div>Michelle, Brigitte, Carolin</div>
<div>Duana Stanley (product manager)</div>

<p><div>And a huge thank you goes out to our coaches:</div>
  <ul>
    <li>Erik Michaels-Ober</li>
    <li>Brian Egan</li>
    <li>Dennis Cahillane</li>
    <li>Sergio Gil</li>
    <li>Jan Kischkel</li>
    <li>Jano González</li>
    <li>JP Bochi</li></ul></p>
</body>