<body>
  <div class="container-fluid">
    <h1>Welcome to SoundDrop!</h1>

    <p>SoundDrop lets you record stories or create playlists of your favourite songs and connect them to any place you wish via geolocation.</p>

    <p>With SoundDrop you can leave an audible mark anywhere and share it with friends. Wish to leave a playlist along your favourite bike route through town? Or create a guided tour for a museum exhibition? Want to tell a personal story about a famous landmark, or guide your friends to your favourite spots in a foreign city? SoundDrop let's you share the sound.</p>

    <div id="map-index"></div>
    <script type="text/javascript">
    var map;

    function initMap() {
      changeMap(52.520, 13.409);
    }

    function changeMap(lat, lng) {
      map = new google.maps.Map(document.getElementById('map-index'), {
        center: {lat: lat, lng: lng},
        zoom: 12
      });
    }

    // $(".find-drops").on("click", function(event) {
    //   event.preventDefault();
    //   // read city input field
    //   // search lng, lat via geocode/google
    //   // change map with new lng, lat
    //   changeMap(4.6482837, -74.2478959);
    // });


    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkImnni-kZABntvWwgNhfxXFpUC0lc8lY&callback=initMap">
    </script>


  </div>




</body>
