<h1>Welcome, you are at SoundCloud HQ!</h1>

<!-- <img src="assets/images/reception.jpg" alt="reception SoundCloud HQ" style="width:304px;height:228px"> -->
<%= image_tag("reception.jpg", :width => "90%", :height => 150, :alt => "Reception") %>

<iframe width="90%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/104067496&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

