<body>
    <div class="container-fluid">
    <h1>Welcome to SoundDrop!</h1>

    <p>SoundDrop lets you record stories and connect them to a place where they
    belong - via QR code or geolocation.</p>

    <p>We are developing SoundDrop so that you can leave an audible mark
    yourself - anywhere. Be it that you wish to leave some kind of sound
    graffiti at the wall memorial. Or create an alternative museum tour? Tell a
    personal story about a famous landmark?</p>

    <p>Here at SoundCloud HQ you can find <a href='/playlists/74584890/187471639'>stories attached to interesting objects.</a></p>

    <p>See a QR code somewhere in the office? <a href=/welcome/scan>Scan</a> it with your smartphone and BOOM! You are taken to the matching soundfile. Ever wondered about the story behind the coffee machine? Now you can listen to it! Great, don’t you think?</p>

    <p>Interested? Try our app. And please leave feedback or send us an email: <a href='mailto:sounddrop@googlegroups.com'>sounddrop@googlegroups.com</a></p>

    <p>Happy QR code hunting!</p>

    <div>Your Rails Girls interns</div>
    <div>Michelle, Brigitte, Carolin</div>
    <div>Duana Stanley (product manager)</div>

    <p><div>And a huge thank you goes out to our coaches and mentors:</div>
      <ul>
        <li>Brian Egan</li>
        <li>Dennis Cahillane</li>
        <li>Ellen König</li>
        <li>Erik Michaels-Ober</li>
        <li>Jan Kischkel</li>
        <li>Jano González</li>
        <li>JP Bochi</li>
        <li>Matthias Georgi</li>
        <li>Sergio Gil</li>
        <li>Tobi Biehlolawek</li>
      </ul>
      </p>
    </div>
</body>
