<body>
  <div class="container-fluid">
  <h1>How to scan QR codes?</h1>

  Open a QR code scanner app of your choice and point your smartphone at a given code - it will open a browser and take you to the matching URL.
  Don’t have an QR scanner app yet? Get them here:
  <br></br>

  <div><a href="https://play.google.com/store/apps/details?id=la.droid.qr&hl=en>" target="blank">Android</a></div>
  <div><a href="https://itunes.apple.com/en/app/qr-reader-for-iphone/id368494609?mt=8>" target="blank">iPhone</a></div>
  <div><a href="http://www.windowsphone.com/en-us/store/app/qr-code-reader/e21dee2d-9c1c-4f25-916f-c93d25da8768" target="blank">Windows phone</a></div>
  <div><a href="https://f-droid.org/repository/browse/?fdid=com.google.zxing.client.android>" target="blank">f-droid</a></div>
  </body>
