<div class="container-fluid">
  <%= image_tag("/screen.jpg", :alt => "Reception", :class => "story-image") %>
  <h1 class="story-title">Reception Artwork</h1>
  <h3 class="story-place">@SoundCloud HQ</h3>


  <% @user_tracks.map do |track| %>
    <% if track.id == @story.id %>
        <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%=@story.id %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
    <% else %>
    <% end %>
  <% end %>
  <br>
  <br>
  <p>Listen to more stories:</p>
  
  <% @user_tracks.map do |track| %>
    <% if track.id != @story.id %>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%=track.id %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
    <% else %>
    <% end %>
  <% end %>
  <br>
  <form>
    <label>What do you think about this app?</label>
    <textarea class="form-control" rows="2"></textarea>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  
</div> <!-- /.container -->
