<%= javascript_include_tag "highcharts", "stats"%>
<input type="date" name="dateRange" id="start_date"/>
<input type="date" name="dateRange2" id="finish_date"/>
<input type="button" value="Change date" id="change_button"/>
<div id="stories_chart"></div>
