<div class="rewind">
  <span class="glyphicon glyphicon-backward"></span>
</div>
<div class="play-button">
  <span class="glyphicon glyphicon-play-circle"></span>
</div>
<div class="forward">
  <span class="glyphicon glyphicon-forward"></span>
</div>
