
<div class="container-image">
  <%= widget(@story.id) %>
</div>

<tr>
  <td><%= button_to 'like', upvote_story_path(@story), method: :post %></td>
  <td><%= pluralize(@story.count, "like") %></td>
</tr>

<div class="story-place">@SoundCloud HQ
</div>

<%= render partial: "create_comments" %>
