<%if @story %>
    <div class="container-image">
        <%=widget(@story_at_sc.id)%> 
    </div>
    <tr>
      <td><%= button_to 'like', like_story_path(@story), method: :post %></td>
      <td><%= pluralize(@story.votes.count, "like") %></td>
    </tr>

    <%= render partial: "create_comments" %>
<%else%>
    <h1>Ups! We couldn't find this story, try again!! </h1>
<%end%>
