<input type="date" name="dateRange" id="start_date" value="2015-02-01"/>
<input type="date" name="dateRange2" id="finish_date" value="2015-02-05"/>
<input type="button" value="Change date" id="change_button"/>
<div id="stories_chart"></div>    