<div id="stories_chart"></div>

 <script>

  // $(document).ready(function() {
  $(document).on("ready page:load", function(){
    $(function() {

      var options = {
          chart: {
            renderTo: "stories_chart",
            // type: 'spline'
          },

          title: {
            text: "Stats"
          },

          subtitle: {
            text: "Check how popular your story is on SoundDrop"
          },
          
          xAxis: {
            // categories: [1, 2, 3, 4]
          },
          yAxis: {
            title: {text: "Votes"}
          },
          
          series: [
            // data:["a", "b"]
            // }, {
            // data: ["c", "d"]
          ]
      };
      $.getJSON('/charts', function(response) { 
        console.log(JSON.stringify(response));
        // console.log(data);
        options.xAxis.categories = response.categories;
        options.series[0] = {name: response.stats[0].title,
                        data: response.stats[0].votes};
        options.series[1] = {name: response.stats[1].title,
                        data: response.stats[1].votes};
        var chart = new Highcharts.Chart(options);
      });
  });
});
      
</script>
