body {
  background-color: #1A0923;
  color: white;
  font-family: "Helvetica Neue";
}

h1 {
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}

h4 {
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  font-size: 23px;
}

a {
  color: #f50;
}
 
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  font-size: 23px;
}

textarea {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  font-size: 23px;
/* font-family: inherit;
*/font-size: inherit;
  line-height: inherit;
  color: black;
  font-weight: 300;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: black;
  font-weight: 300;
}
#commentForm {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list_comments {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
.artwork {
  width: 100%; 
  height: 100%;
  position: relative;
}
.container-image {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  width:100%;
  position: relative; left:0; top:0;
  z-index:0;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.play-button{ 
  z-index: 1;
  width: 100%; 
  position: absolute;
  text-align: center;
  margin-top: -72px;
  top: 50%;
}
.rewind{ 
  z-index: 1;
  width: 100%; 
  position: absolute;
  text-align: center;
  margin-left: -10px;
  top: 50%;
}
.forward{ 
  z-index: 1;
  width: 100%; 
  position: absolute;
  text-align: center;
  margin-right: 10px;
  top: 50%;
}

.glyphicon{
  width: 140px; 
  height: 0px;

}
.glyphicon-play-circle{
  color: #ff7400;
  font-size: 140px;
  line-height: 1;
  border-radius: 4em;
}
.glyphicon-pause{
  color: #ff7400;
  font-size: 140px;
  line-height: 1;
  border-radius: 4em;
}

.glyphicon-forward{
  color: #ff7400;
  font-size: 100px;
  line-height: 1;
  margin-left: 250px;
  margin-top: -39px;
}
.glyphicons-rewind{
  color: #ff7400;
  font-size: 70px;
  line-height: 1;
}

.story-place {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 100;
  font-style: italic;
  font-size: 25px;
  color: #999;
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),      url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


