
<div class="container-fluid">
<h1>Hello, </h1>
</br>
<h4>Choose a Place:</h4>

<table>
  <tr>
  </tr>
 
  <% @places.each do |place| %>
    <tr>
      <td><%= radio_button_tag(:place_id, place.id) %>
        <%= label_tag(:location, place.name) %></td>
    </tr>
  <% end %>
</table>
<%= submit_tag("Choose this Place") %>
<br></br>

<h4>OR</h4>
</div>

<%= render partial: "create_places" %>
