<!DOCTYPE html>
<html>
<head>
  <title>Anchor</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/application-theme.css">
  <link rel="stylesheet" type="text/css" href="/assets/story.css">  
</head>
<body>

<%= yield %>

</body>
</html>
