<!DOCTYPE html>
<html>
<head>
  <title>SoundDrop</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="/assets/story.css">
  <script type="text/javascript" src="/assets/jquery-2.1.1.js"></script>
</head>

<body>

  <%= yield %>
  
  <div class="container-fluid">
    <form>
        <label><h4>What do you think about this app?</h4></label>
        <textarea class="form-control" rows="2"></textarea>
        </br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

</body>
</html>
